body {
    font-family: serif; /* Klasik serif yazı tipi */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white; /* Arka plan beyaz */
    color: black; /* Metin rengi siyah */
    font-size: 18px; /* Tüm içerikler için font boyutu */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: white; /* Header arka planı beyaz */
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #bfbfbf; /* Alt çizgi açık gri */
    position: relative;
}

header a {
    color: black; /* Header içindeki bağlantı metin rengi siyah */
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-left: 40px;
    padding: 10px;
    position: relative;
}

header nav ul li.current a {
    color: black; /* Şu anki sayfa bağlantı metin rengi siyah */
    font-weight: bold;
}

header nav ul li a:hover {
    color: #666; /* Bağlantı üzerine gelindiğinde koyu gri */
}

section {
    margin-top: 20px;
    text-align: justify;
}

#contact {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin: 10px 0 5px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Köşeleri hafif yuvarlak yapmak için */
    font-size: 16px;
    transition: border-color 0.3s; /* Animasyon eklemek için */
}

#contact textarea {
    height: 150px;
    resize: none;
}

#contact input[type="submit"] {
    background: #333;
    color: #fff;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Köşeleri hafif yuvarlak yapmak için */
    transition: background 0.3s;
}

#contact input[type="submit"]:hover {
    background: #555;
}

#contact input[type="text"]:focus,
#contact input[type="email"]:focus,
#contact textarea:focus {
    border-color: #666; /* Odaklandığında sınır rengini değiştirin */
}

footer {
    background: white; /* Footer arka planı beyaz */
    color: black; /* Footer metin rengi siyah */
    text-align: center;
    padding: 10px;
    position: relative; /* Footer'ı sabit olmaktan çıkarın */
    bottom: 0;
    width: 100%;
}
